.home-container {
  min-height: 100vh;
  background-size: cover;
}
.responsive-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 26px;
  color: #1e293b;
}
.courses-list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure-image {
  height: 100px;
  width: 100px;
}
.failure-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  color: #1e293b;
}
.failure-description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #1e293b;
}
.retry-button {
  height: 30px;
  width: 60px;
  color: #ffffff;
  background-color: #4656a1;
  font-family: 'Roboto';
  border: none;
  outline: none;
  cursor: pointer;
}
.course-details-container {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: 0px 2px 4px 0px #f0eeee;
}
.image {
  height: 100%;
  width: 30%;
  margin-right: 16px;
}
.text-container {
  height: 100%;
  width: 70%;
}
.name {
  font-family: 'Roboto';
  font-size: 30px;
  color: #1e293b;
  font-weight: 500;
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #475569;
}
